.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 1020px;
}

.img-holder {
  text-align: center;
}

.logo {
  margin-bottom: 50px;
}

.input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.looker {
  width: 100%;
  border: 1px solid black;
}
